<div class="d-flex justify-content-center">
  <h1>Bonjour, poste ta question à notre coach renommé. </h1>
</div>
<div class="d-flex justify-content-center m-3">
  <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExemlmNXFpYWtnM3ZraHZrdzl0NDh4NnJhYTg4NWZ6d3Z3N2YzeWllNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l378d9SbhlV6xgtRC/giphy.webp" alt="gif du coach">
</div>
<div class="d-flex justify-content-center">
  <form class="row g-3" action="/answer">
    <div class="col-auto">
      <label for="inputText" class="">Question ?</label>
      <input type="text" class="form-control" id="inputText" name="question" placeholder="Pose ta question ici !">
    </div>
    <div class="">
      <button type="submit" class="btn btn-primary mb-3">Envoyer !</button>
    </div>
  </form>
</div>
